
.Transition{
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.715);
}

.Name{
  font-weight: 900;
  font-size: 5em;
  color: #61616174;
}